OLLAMA_EMBED_URL=http://localhost:11434/api/embed
OLLAMA_EMBEDDING_MODEL=qllama/bge-small-en-v1.5:latest
ConnectionStrings__Postgres=Host=localhost;Port=5432;Database=candidate_ai;Username=postgres;Password=postgres


# --------------------------------------------------
# LLM
# --------------------------------------------------

Llm__MaxOutputTokens=500
Llm__ThinkingLevel=minimal


# --------------------------------------------------
# LLM Providers
# --------------------------------------------------

# Provider 1
Llm__Providers__0__Name=Gemini
Llm__Providers__0__Models__0=gemini-3.6-flash
Llm__Providers__0__TimeoutSeconds=15

Gemini__ApiKey=gemini-api-key-here


# Provider 2
Llm__Providers__1__Name=Groq
Llm__Providers__1__Models__0=openai/gpt-oss-120b
Llm__Providers__1__TimeoutSeconds=20

Groq__ApiKey=groq-api-key-here


# Provider 3
Llm__Providers__2__Name=OpenRouter
Llm__Providers__2__Models__0=openai/gpt-oss-120b
Llm__Providers__2__Models__1=nvidia/nemotron-3-super-120b-a12b:free
Llm__Providers__2__TimeoutSeconds=20

OpenRouter__ApiKey=open-router-api-key-here


# --------------------------------------------------
# Optional / future providers
# --------------------------------------------------

# Llm__Providers__3__Name=Cerebras
# Llm__Providers__3__Models__0=gpt-oss-120b
# Llm__Providers__3__TimeoutSeconds=20

# Cerebras__ApiKey=cerebras-api-key-here